.formularioadocao__botao {
    margin-left: 12rem;
	margin-top: -5rem;
	box-shadow: 0px 5px 1px 1px #803100;
	background-color:#FF6C27;
	border-radius:28px;
	border:1px solid #803100;
	display:inline-block;
	cursor:pointer;
	color:#ebebeb;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #540b01;
}
.formularioadocao__botao:hover {
	background-color:#803100;
}
.formularioadocao__botao:active {
	position:relative;
	top: 1rem;
}

        