.rodape{
    background-image: linear-gradient(
  180deg,
  hsl(33deg 100% 64%) 0%,
  hsl(33deg 99% 64%) 0%,
  hsl(33deg 98% 63%) 1%,
  hsl(33deg 97% 62%) 2%,
  hsl(32deg 96% 62%) 4%,
  hsl(32deg 95% 61%) 9%,
  hsl(32deg 94% 61%) 17%,
  hsl(32deg 93% 60%) 40%,
  hsl(32deg 92% 59%) 67%,
  hsl(32deg 91% 59%) 78%,
  hsl(31deg 90% 58%) 85%,
  hsl(31deg 89% 57%) 89%,
  hsl(31deg 88% 57%) 92%,
  hsl(31deg 88% 56%) 95%,
  hsl(31deg 87% 55%) 97%,
  hsl(31deg 86% 54%) 98%,
  hsl(31deg 85% 53%) 99%,
  hsl(31deg 85% 53%) 100%,
  hsl(31deg 84% 51%) 100%,
  hsl(31deg 84% 50%) 100%,
  hsl(31deg 87% 49%) 100%,
  hsl(33deg 100% 45%) 100%
);
    margin-top: 15rem;
    width: 100%;
}


.rodape__informativos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


  
