.rodape__informativos__lista__link{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.rodape__informativos__lista__link h3{
    font-weight: bolder;
}

.rodape__informativos__lista__link .rodape__link{
    color: black;
    font-size: 15px;
    text-decoration: none;
}