.rodape__informativos__icones{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

.rodape__informativos__icones__links{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 3rem;

    border-radius: 50%;
    color: white;
}

#Instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#Facebook{
    background: #4267b3;
}