.nossahistoria__icone__resgate__titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(211, 70, 0);
}

.nossahistoria__icone__resgate__descricao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(48, 48, 48);
}

.nossahistoria__icone__resgate__imagem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25%;
}
