.nossahistoria__descricao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-left: 10rem;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    color: rgb(48, 48, 48);
}