.nossahistoria__descricao{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-left: 10rem;
    width: 70%;
    
    color: rgb(48, 48, 48);
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}