.nossahistoria__titulo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 80px;
    font-size: 30px;
    font-family: "Cooper Black", serif;
    color: rgb(211, 70, 0);
}