.nossahistoria__icone__familia__titulo{
    align-items: center;
    display: flex;
    justify-content: space-around;

    color: rgb(211, 70, 0);
}

.nossahistoria__icone__familia__descricao{
    align-items: center;
    display: flex;
    justify-content: space-around;

    color: rgb(48, 48, 48);
}

.nossahistoria__icone__familia__imagem{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
}
