.contato {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 25px;
    line-height: 25px;
    color: #000000;
    font-family: Trebuchet MS;
    width: 130px;
    font-size: 20px;
    font-weight: 200;
    padding: 15px;
    background-color: #FFEA9F;
    -webkit-box-shadow: 8px 8px 6px 0 #000000;
    -moz-box-shadow: 8px 8px 6px 0 #000000;
    box-shadow: 8px 8px 6px 0 #000000;
    border: solid #000000 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 60%;
    margin-top: -5%;
 }
 
 .contato:hover {
    background: #FFD02A;
    border: solid #000000 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-decoration: none;
 }